.services {
    width: 100%;
    padding: 100px 0 90px;
    background-color: var(--primary-light-color);
    .services-sub {
        width: 100%;
        display: grid;
        place-items: center;
        .services-sub-title {
            background-color: #fff;
            margin-bottom: 15px;
            padding: 4px 8px;
            font-size: 14px;
            border-radius: 3px;
            color: #4b56b3;
        }
        .services-title {
            color: #fff;
            font-weight: 600;
            font-size: 48px;
            line-height: 56px;
            z-index: 9;
            padding: 0;
            margin: 0 0;
            position: relative;
            display: block;
            margin-bottom: 20px;
        }
    }
    .service-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        width: 100%;
        margin: 20px auto 80px auto;
        .service-card {
            width: 100%;
            background-color: #fff;
            border-radius: 10px;
            padding: 25px 30px 50px 30px;
            display: flex;
        border-radius: 10px;

            flex-direction: column;
            gap: 20px;
            border-radius: 10px;
            -webkit-box-shadow: 0px 0px 30px 0 rgba(0, 20, 9, 0.1);
            -moz-box-shadow: 0px 0px 30px 0 rgba(0, 20, 9, 0.1);
            box-shadow: 0px 0px 30px 0 rgba(0, 20, 9, 0.1);
            .service-card-top {
                display: flex;
                align-items: center;
                gap: 20px;
                h3 {
                    font-weight: 600;
                    font-size: 24px;
                    color: #2d304e;
                }
                .service-img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    border: 1px solid #4b56b3;
                    display: grid;
                    place-items: center;
                }
                .service-img i {
                    font-size: 30px;
                    color: #4b56b3;
                }
            }
            p {
                font-size: 16px;
                line-height: 28px;
                color: #7a7a7a;
            }

            .service-box-list {
                display: flex;
                flex-direction: column;
                ul {
                    list-style: none;
                    li {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: 0 0 10px;
                        font-size: 16px;
                        color: #2d304e;
                        font-weight: 600;
                        i {
                            color: #4b56b3;
                        }
                    }
                }
            }
        }
    }
    .service-brands {
        border-top: 1px solid #fff;
        padding-top: 40px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 30px;
        img {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 948px) {
    .services {
        padding: 80px 0;
        .services-sub {
            .services-title {
                font-size: 40px;
            }
        }
        .service-cards {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media only screen and (max-width: 672px) {
    .services {
        padding: 60px 0;
        .services-sub {
            .services-title {
                font-size: 40px;
            }
        }
        .service-cards {
            grid-template-columns: 1fr;
        }
        .service-brands {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media only screen and (max-width: 490px) {
    .services {
        padding: 40px 0;
        .services-sub {
            .services-title {
                font-size: 32px;
            }
        }
        .service-cards {
            grid-template-columns: 1fr;
        }
        .service-brands {
            grid-template-columns: 1fr 1fr;
        }
        .service-brands img:last-child {
            display: none;
        }
    }
}
