.hero{
    width: 100%;
}

.banner-video{
    position: absolute;
        left: 0;
    // min-width: 100% !important;
    width: 100%;
    height: 80vh !important;
    position: relative;
}

.video-container {
    z-index: -1;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 500px; 
  }
  .video-container video {
    min-width: 100%; 
    height: 100%; 
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }