.portfolio {
    width: 100%;
    padding: 80px 0;
    background-color: #4b56b3;
    .portfolio-title {
        width: 100%;
        display: grid;
        place-items: center;
        margin-bottom: 40px;
        h3 {
            background-color: #fff;
            margin-bottom: 15px;
            padding: 4px 8px;
            font-size: 14px;
            border-radius: 3px;
            color: #4b56b3;
        }
        h1 {
            color: #fff;
            font-weight: 600;
            font-size: 48px;
            line-height: 56px;
            z-index: 9;
            padding: 0;
            margin: 0 0;
            position: relative;
            display: block;
            margin-bottom: 20px;
        }
    }
}
.slick-slide {
    max-width: 340px !important;
    width: 100%;
    height: 400px !important;
    margin-right: 30px;
}
.slick-slide:last-child {
    margin-right: 0 !important;
}
.slider-img {
    width: 100%;
    height: 100%;
}

.slick-next,
.slick-prev {
    display: none !important;
}

@media only screen and (max-width: 948px) {
    .portfolio {
        padding: 0px 10px 40px 10px;
        .portfolio-title {
            h1 {
                font-size: 40px;
            }
        }
    }
}

@media only screen and (max-width: 672px) {
}

@media only screen and (max-width: 490px) {
}
