.portfolio {
    width: 100%;
    padding: 80px 0;
    background: url('https://img2.akspic.ru/attachments/crops/4/3/6/8/28634/28634-grafika-sinij_cvet-lazur-upravlenie-biznes-3840x2160.jpg');
    background-size: cover;
    height: 500px;
}

.portfolio__header-title {
    width: 100%;
    padding: 0 10px;
    text-align: center;

    .portfolio-subtitle {
        background-color: #fff;
        margin-bottom: 15px;
        display: inline-block;
        padding: 4px 8px;
        font-size: 14px;
        border-radius: 3px;
        color: #4b56b3;
    }

    .portfolio-title {
        color: #fff;
        font-weight: 600;
        font-size: 48px;
        z-index: 9;
        display: block;
    }
}

.slider-container {
    display: flex !important;
    align-items: center;
    margin-top: 2rem;
    column-gap: 1rem !important;

    img {
        width: 100%;
        max-width: 305px;
        height: 345px;
        object-fit: cover;
        border-radius: 7px;
    }
}

// Responsive styles

@media only screen and (max-width:800px) {
    .portfolio__header-title {
        .portfolio-title {
            font-size: 40px;
        }
    }
}

@media only screen and (max-width:672px) {
    .portfolio__header-title {
        .portfolio-title {
            font-size: 34px;
        }
    }
}

@media only screen and (max-width:544px) {
    .portfolio__header-title {
        .portfolio-title {
            font-size: 28px;
        }
    }
}
@media only screen and (max-width:453px) {
    .portfolio__header-title {
        .portfolio-title {
            font-size: 24px;
        }
    }
    .slider-container{
        img{
            max-width: 270px;
            height: 300px;
        }
    }
}
@media only screen and (max-width:393px) {
    .portfolio__header-title {
        .portfolio-subtitle{
            font-size: 12px;
        }
        .portfolio-title {
            font-size: 20px;
        }

    }
    .slider-container{
        img{
            max-width: 250px;
            height: 260px;
        }
    }
}